<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="card col-md-7">
            <div class="card-body p-5">
    <form method="POST">
        <div class="form-group">
            <h4>What is your email address?</h4>
            <input type="email" class="form-control" name="email" required>
        </div>
            <div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
            </div>
        </div>

</body>
</html>